
body {
    background: #f1f1f1;
    margin: 0;
    padding: 2%;
}

.red {
    color: firebrick !important;
}

.green {
    color: #347935 !important;
}

.yellow {
    color: #ffd632 !important;
}

.blue {
    color: dodgerblue !important;
}
#space {
    border-left: 2px solid #fbfbfb;
    border-right: 2px solid #fbfbfb;
    height: 110px;
    width: 80px;
    display: block;
    margin-top: 5px;
}

.hint {
    text-align: center;
    display: block;
    color: #a0a0a0;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Indie Flower", cursive;
    -webkit-animation: fadein 10s;
    -moz-animation: fadein 10s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.text {
    margin: 8% 18%;
    text-align: center;
    display: inline-block;
    transition: .5s;
}

.text span {
    background: #fff;
    width: 80px;
    height: 120px;
    display: block;
    line-height: 120px;
    font-family: "Indie Flower", cursive;
    font-weight: bold;
    color: #a0a0a0;
    font-size: 60px;
    float: left;
    transition: .5s;
}

.text:hover span:nth-child(odd) {
    transform: skewY(-15deg);
    color: #b5b5b5;
    box-shadow: 0px 60px 20px rgba(0,0,0, 0.1);
}

.text:hover span:nth-child(even) {
    transform: skewY(15deg);
    color: #b5b5b5;
    box-shadow: 0px 60px 20px rgba(0,0,0,0.1);
}

.text:hover {
    transform: rotateX(25deg);
}

a {
    color: inherit;
    text-decoration: inherit;
}